<section>

  <div class="section2-container">
    <div class="container">
      <div class="title-box">
        <h2>Mais <b>procuradas</b></h2>
      </div>

      <div class="slide-box">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            @for (house of houses; track house.id) {
            <div class="swiper-slide">
              <img class="house-image" [src]="house.image" alt="casa" (click)="showHouseDetails(house.id)">
              <div class="slider-txt">
                <span class="title">{{ house.name }}</span>
                <span class="description">{{ house.type }}, {{ house.location }}</span>
                <div class="details">
                  <div class="details-group">
                    <img src="../../../../assets/icons/la_bed.png" alt="icone cama">
                    <span>{{ house.rooms }} Quartos</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../assets/icons/la_bath.png" alt="icone banheira">
                    <span>{{ house.bathroom }} Banheiros</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../assets/icons/la_vector-square.png" alt="icone area">
                    <span>{{ house.sqft }}m²</span>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>

        <div class="btn-box">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next" id="next-btn"></div>
          <img class="rectangle" src="../../../../assets/images/Rectangle.png" alt="">
          <div class="swiper-button-prev" id="prev-btn"></div>

        </div>

      </div>

      <div class="btn-section">
        <a href="/properties" class="home-btn">Ver Todas</a>
      </div>



    </div>
  </div>
</section>