<div class="container-skeleton">
  <div class="skeleton">
    @for (skt of skeleton; track $index) {
    <div class="skeleton-box">
      <div class="skt-img animation"></div>
      <div class="line1 animation"></div>
      <div class="line2 animation"></div>
      <div class="icons-box">
        <div class="icon">
          <div class="icon-skt animation"></div>
          <div class="line3 animation"></div>
        </div>

        <div class="icon">
          <div class="icon-skt animation"></div>
          <div class="line3 animation"></div>
        </div>

        <div class="icon">
          <div class="icon-skt animation"></div>
          <div class="line3 animation"></div>
        </div>

      </div>
    </div>
    }
  </div>
</div>
