<main>
  <div class="main-groups">

    <div class="left-group">
      <h1>A melhor e mais fácil maneira de comprar ou alugar imóveis</h1>
      <p>Você encontrará uma ampla seleção de imóveis disponíveis para compra ou aluguel. Navegue por uma variedade de
        opções, desde casas familiares aconchegantes até apartamentos modernos e luxuosos.
      </p>
      <nav class="select-navigation">
        <div class="select-container">


          <div class="select-group">
            <select [(ngModel)]="selected.purpose">
              <option value="" disabled selected hidden>Propósito</option>
              <option value="alugar">Alugar</option>
              <option value="comprar">Comprar</option>
            </select>
          </div>

          <div class="select-group">
            <select [(ngModel)]="selected.type">
              <option value="" disabled selected hidden>Tipo</option>
              <option value="casa">Casa</option>
              <option value="apartamento">Apartamento</option>
            </select>
          </div>

          <div class="select-group">
            <select [(ngModel)]="selected.location">
              <option value="" disabled selected hidden>Estado</option>
              <option value="São Paulo">São Paulo</option>
              <option value="Florianópolis">Florianópolis</option>
              <option value="Rio de Janeiro">Rio de Janeiro</option>
            </select>
          </div>

          <div class="select-btn">
            <button type="button" (click)="search()">Pesquisar</button>
          </div>


        </div>
      </nav>
    </div>

    <div class="right-group">
      <img src="../../../../../assets/images/pexels-binyamin-mellish-106399 2.png" alt="imagem de um casa aleatoria">
    </div>
  </div>

  <div class="logos-group">
    <img src="../../../../../assets/images/logo4.png" alt="logo da empresa">
    <img src="../../../../../assets/images/logo1.png" alt="logo da empresa">
    <img src="../../../../../assets/images/logo3.png" alt="logo da empresa">
    <img src="../../../../../assets/images/logo6.png" alt="logo da empresa">
    <img src="../../../../../assets/images/logo2.png" alt="logo da empresa">
  </div>


</main>