<section>

  <div class="contact-container">
    <div class="images-box">
      <img src="../../../../assets/images/Group2.png" alt="imagem de casas">
    </div>
    <div class="text-box">
      <h4>A gente te ajuda a encontrar seu futuro lar</h4>
      <span>Mauris orci donec blandit maecenas. Orci lorem purus porttitor massa consectetur. Neque, vestibulum sed
        varius magna et at. Eu, adipiscing morbi augue justo. Nibh laoreet volutpat quis velit. Blandit aliquam donec
        sed morbi congue eget lorem viverra porta id lobortis.
      </span>
      <button class="contact-btn">Fale conosco</button>
    </div>
  </div>

</section>
