<section>
  <div class="container">
    <div class="chooseUs">
      <span class="title"><b>Por que</b> escolher a gente?</span>

      <div class="box-container">
        <div class="box">
          <img src="../../../../assets/icons/Group-1.webp" alt="lupa">
          <h3>Busca <b>Rápida</b></h3>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, asperiores beatae obcaecati accusantium
            commodi sunt</span>
        </div>

        <div class="box">
          <img src="../../../../assets/icons/Group-2.webp" alt="venda">
          <h3><b>Melhores</b> preços</h3>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, asperiores beatae obcaecati accusantium
            commodi sunt</span>
        </div>


        <div class="box">
          <img src="../../../../assets/icons/Group-3.webp" alt="relogio">
          <h3>Compra <b>Facilitada</b></h3>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, asperiores beatae obcaecati accusantium
            commodi sunt</span>
        </div>

      </div>

    </div>

    <img class="bg-assets" src="../../../../assets/images/asset-bg.png" alt="imagem generica">



    <div class="rate-container">

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <img src="../../../../assets/images/“.png" alt="aspas">
            <span class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil assumenda quibusdam,
              praesentium
              obcaecati ducimus voluptas esse est odit, animi veniam corporis neque. Quia enim dolor nobis molestias.
              Neque, saepe voluptas.
            </span>

            <div class="person-details">
              <span class="name">Elena Pravo</span>
              <span class="job">Ceo, Upstate</span>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="../../../../assets/images/“.png" alt="aspas">
            <span class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil assumenda quibusdam,
              praesentium
              obcaecati ducimus voluptas esse est odit, animi veniam corporis neque. Quia enim dolor nobis molestias.
              Neque, saepe voluptas.
            </span>

            <div class="person-details">
              <span class="name">Márcio Gomes</span>
              <span class="job">Ceo, Disney</span>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../../../../assets/images/“.png" alt="aspas">
            <span class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil assumenda quibusdam,
              praesentium
              obcaecati ducimus voluptas esse est odit, animi veniam corporis neque. Quia enim dolor nobis molestias.
              Neque, saepe voluptas.
            </span>

            <div class="person-details">
              <span class="name">Luiz Fernando</span>
              <span class="job">Dev, Front-End</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>