.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21.6rem;
  background-image: url('../../../../assets/images/popular-residence.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10rem;
}

.title-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 170rem;
  margin: auto 2rem;
}

.title-box .box-title {
  font-size: 8rem;
}

.title-box .box-link {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}

@media (max-width: 570px) {
  .title-box .box-title {
    font-size: 5.5rem;
  }

  .title-box .box-link {
    font-size: 1.8rem;
  }
}

@media (max-width: 410px) {
  .title-box .box-title {
    font-size: 4rem;
  }

  .title-box .box-link {
    font-size: 1.8rem;
    gap: 1rem;
  }
}
