<section>

  <div class="section2-container">
    <div class="container">

      <div class="title-box">
        <h2>Mais <b>procuradas</b></h2>
      </div>



      <div class="slide-box">

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../../../../assets/images/house1.png" alt="casa 01">
              <div class="slider-txt">
                <span class="title">Lorem ipsum dolor sit amet consectetur.</span>
                <span class="description">1087 Pin Oak Drive, São Paulo, BR</span>
                <div class="details">
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bed.png" alt="icone cama">
                    <span>6 Camas</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bath.png" alt="icone banheira">
                    <span>4 Banheiros</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_vector-square.png" alt="icone area">
                    <span>1980m²</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../../../../../assets/images/house2.png" alt="casa 02">
              <div class="slider-txt">
                <span class="title">Lorem ipsum dolor sit amet consectetur.</span>
                <span class="description">1087 Pin Oak Drive, Rio de Janeiro, BR</span>
                <div class="details">
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bed.png" alt="icone cama">
                    <span>2 Camas</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bath.png" alt="icone banheira">
                    <span>1 Banheiros</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_vector-square.png" alt="icone area">
                    <span>980m²</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../../../../../assets/images/house3.png" alt="casa 03">
              <div class="slider-txt">
                <span class="title">Lorem ipsum dolor sit amet consectetur.</span>
                <span class="description">1087 Pin Oak Drive, Florianópolis, BR</span>
                <div class="details">
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bed.png" alt="icone cama">
                    <span>8 Camas</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bath.png" alt="icone banheira">
                    <span>6 Banheiros</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_vector-square.png" alt="icone area">
                    <span>2803m²</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../../../../../assets/images/house4.jpg" alt="casa 04">
              <div class="slider-txt">
                <span class="title">Lorem ipsum dolor sit amet consectetur.</span>
                <span class="description">1087 Pin Oak Drive, São Paulo, BR</span>
                <div class="details">
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bed.png" alt="icone cama">
                    <span>4 Camas</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bath.png" alt="icone banheira">
                    <span>2 Banheiros</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_vector-square.png" alt="icone area">
                    <span>1203m²</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="../../../../../assets/images/house5.jpg" alt="casa 05">
              <div class="slider-txt">
                <span class="title">Lorem ipsum dolor sit amet consectetur.</span>
                <span class="description">1087 Pin Oak Drive, Rio de Janeiro, BR</span>
                <div class="details">
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bed.png" alt="icone cama">
                    <span>4 Camas</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_bath.png" alt="icone banheira">
                    <span>2 Banheiros</span>
                  </div>
                  <div class="details-group">
                    <img src="../../../../../assets/icons/la_vector-square.png" alt="icone area">
                    <span>1702m²</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-box">
          <div class="swiper-button-next" id="next-btn"></div>
          <img class="rectangle" src="../../../../../assets/images/Rectangle.png" alt="">
          <div class="swiper-button-prev" id="prev-btn"></div>

        </div>

      </div>


      <button type="button" (click)="search()">Ver todas</button>


    </div>
  </div>
</section>
