<footer>

  <div class="footer-container">



    <div class="col-1">
      <img src="../../../../assets/logo/logo.png" alt="logo da empresa">
      <span>Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue.</span>
      <div class="logos-box">
        <img src="../../../../assets/logo/facebook.png" alt="icone do Facebook">
        <img src="../../../../assets/logo/icons8-twitter-50.png" alt="icone do Twitter">
        <img src="../../../../assets/logo/icons8-instagram-30.png" alt="icone Instagram">
        <img src="../../../../assets/logo/youtube.png" alt="icone do Youtube">
      </div>
    </div>

    <div class="col-2 col">
      <span class="title">Projeto</span>
      <span class="sub-title">Casas</span>
      <span class="sub-title">Quartos</span>
      <span class="sub-title">Flats</span>
      <span class="sub-title">Apartamentos</span>
    </div>


    <div class="col-3 col">
      <span class="title">Companhia</span>
      <span class="sub-title">Como Trabalhamos</span>
      <span class="sub-title">Capital</span>
      <span class="sub-title">Segurança</span>
      <span class="sub-title">Quem somos nós</span>
    </div>

    <div class="col-4 col">
      <span class="title">Ajuda</span>
      <span class="sub-title">Privacidade</span>
      <span class="sub-title">Condição</span>
      <span class="sub-title">Blog</span>
      <span class="sub-title">FAQs</span>
    </div>


  </div>


  <div class="copy">
    Copyright &copy;Rentiz 2024 Todos direitos reservados
  </div>















</footer>
