<app-title-page title="Propriedades" />

<section>
  <div class="filter-container">

    <div class="select-group">
      <select [(ngModel)]="selected.purpose">
        <option value="" disabled selected hidden>Propósito</option>
        <option value="alugar">Alugar</option>
        <option value="comprar">Comprar</option>
      </select>
      <button class="clear-icon" (click)="clearPurpose()">
        <img src="../../../../assets/icons/icons8-excluir-50.png" alt="limpar icone">
      </button>
    </div>

    <div class="select-group">
      <select [(ngModel)]="selected.type">
        <option value="" disabled selected hidden>Tipo</option>
        <option value="casa">Casa</option>
        <option value="apartamento">Apartamento</option>
      </select>
      <button class="clear-icon" (click)="clearType()">
        <img src="../../../../assets/icons/icons8-excluir-50.png" alt="limpar icone">
      </button>
    </div>

    <div class="select-group">
      <select [(ngModel)]="selected.location">
        <option value="" disabled selected hidden>Estado</option>
        <option value="São Paulo">São Paulo</option>
        <option value="Florianópolis">Florianópolis</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
      </select>
      <button class="clear-icon" (click)="clearLocation()">
        <img src="../../../../assets/icons/icons8-excluir-50.png" alt="limpar icone">
      </button>
    </div>

    <div class="select-group">
      <select [(ngModel)]="selected.minRooms">
        <option value="0">Quartos</option>
        <option value="2">2+</option>
        <option value="3">3+</option>
        <option value="4">4+</option>
        <option value="5">5+</option>
        <option value="6">6+</option>
      </select>
      <button class="clear-icon" (click)="clearRooms()">
        <img src="../../../../assets/icons/icons8-excluir-50.png" alt="limpar icone">
      </button>
    </div>


    <div class="select-group">
      <select [(ngModel)]="selected.minBath">
        <option value="0">Banheiros</option>
        <option value="2">2+</option>
        <option value="3">3+</option>
        <option value="4">4+</option>
        <option value="5">5+</option>
        <option value="6">6+</option>
      </select>
      <button class="clear-icon" (click)="clearBath()">
        <img src="../../../../assets/icons/icons8-excluir-50.png" alt="limpar icone">
      </button>
    </div>

    <div class="select-btn">
      <button class="search-filter" type="button" (click)="Search()">Pesquisar</button>
      <button class="search-clear" type="button" (click)="clear()">Limpar</button>
    </div>

  </div>

  @if (this.loading) {
  <app-skeleton-loading />
  }

  @if (loading == false) {
  <div class="images-container">

    @if (hasHouse == false) {
    <div class="btn-noHouses">
      <span class="noHouses">Nenhum resultado encontrado</span>
      <button type="button" (click)="back()">Voltar</button>
    </div>
    }

    @for (house of houses; track $index) {
    <div class="box-images">
      <img class="house-image" [src]="house.image" alt="casa" (click)="showHouseDetails(house.id)">
      <div class="house-txt">
        <span class="title">{{house.name}}</span>
        <span class="description">{{house.type}}, {{ house.location }}</span>
        <div class="details">
          <div class="details-group">
            <img src="../../../../../assets/icons/la_bed.png" alt="icone cama">
            <span>{{ house.rooms }} Quartos</span>
          </div>
          <div class="details-group">
            <img src="../../../../../assets/icons/la_bath.png" alt="icone banheira">
            <span>{{ house.bathroom }} Banheiros</span>
          </div>
          <div class="details-group">
            <img src="../../../../../assets/icons/la_vector-square.png" alt="icone area">
            <span>{{ house.sqft }} m²</span>
          </div>
        </div>
        <div class="purpose">
          <span>Para {{ house.purpose }}</span>
          <span>Preço: {{ house.price | real }} </span>
        </div>
      </div>
    </div>
    }
  </div>
  }
</section>
