<app-title-page title="Sobre Nós" />

<section>
  <div class="container">
    <h5>Quem somos nós?</h5>
    <div class="content-txt">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus leo vel orci malesuada, id sodales em
        volutpat. Vivamus sagittis pulvinar dignissim. Mauris tempus a lacus eu aliquet. Mauris gravida at ectus quis
        venenatis. Aenean quis feugiat turpis. Etiam lacinia interdum nibh, non convallis magna lementum vel. Phasellus
        varius quam ligula, in lobortis risus porttitor ut. Praesent ipsum elit, lobortis n tincidunt a, dapibus et
        lorem. Praesent eget dui a est fringilla rutrum sit amet in eros. Vestibulum ut ros sed enim feugiat lobortis.
        Suspendisse fermentum nunc in est mattis molestie. Mauris ut placerat isus. Aenean mollis neque libero, ut
        pellentesque arcu dapibus vel.

        Praesent nec nisl euismod, lacinia tellus eget, bibendum ex. Maecenas imperdiet gravida pulvinar. aecenas
        feugiat id tellus sed sodales. Praesent maximus ultricies elit eget accumsan. Proin tortor ante, ltrices a
        aliquet a, facilisis quis sapien. Donec eu turpis at velit scelerisque faucibus id eget dolor. tiam lobortis
        ante ipsum, sed venenatis ligula facilisis quis. Fusce blandit commodo mauris, sed fringilla isi congue et. Nunc
        eu eros ex.
      </span>
    </div>
    <div class="content-img">
      <img src="../../../../assets/images/empresa.jpg" alt="empresa">
      <img src="../../../../assets/images/jason-goodman-Oalh2MojUuk-unsplash.jpg" alt="">
    </div>

    <h5>Como trabalhamos?</h5>
    <div class="content-txt">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus leo vel orci malesuada, id sodales em
        volutpat. Vivamus sagittis pulvinar dignissim. Mauris tempus a lacus eu aliquet. Mauris gravida at ectus quis
        venenatis. Aenean quis feugiat turpis. Etiam lacinia interdum nibh, non convallis magna lementum vel. Phasellus
        varius quam ligula, in lobortis risus porttitor ut. Praesent ipsum elit, lobortis n tincidunt a, dapibus et
        lorem. Praesent eget dui a est fringilla rutrum sit amet in eros. Vestibulum ut ros sed enim feugiat lobortis.
        Suspendisse fermentum nunc in est mattis molestie. Mauris ut placerat isus. Aenean mollis neque libero, ut
        pellentesque arcu dapibus vel.

        Praesent nec nisl euismod, lacinia tellus eget, bibendum ex. Maecenas imperdiet gravida pulvinar. aecenas
        feugiat id tellus sed sodales. Praesent maximus ultricies elit eget accumsan. Proin tortor ante, ltrices a
        aliquet a, facilisis quis sapien. Donec eu turpis at velit scelerisque faucibus id eget dolor. tiam lobortis
        ante ipsum, sed venenatis ligula facilisis quis. Fusce blandit commodo mauris, sed fringilla isi congue et. Nunc
        eu eros ex.
      </span>
    </div>

    <div class="content-img">
      <img src="../../../../assets/images/austin-distel-rxpThOwuVgE-unsplash.jpg" alt="empresa">
    </div>

    <div class="content-btn">
      <span>Entre em contato conosco para acharmos seu novo lar</span>
      <a href="/contact" class="about-btn">Entrar em contato</a>
    </div>

  </div>

</section>
