::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--verde);
}

::-webkit-scrollbar-track {
  background: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


:root {
  font-size: 62.5%;
  --background: #121b25;
  --verde: #1AA090;
  --texto-cinza: #D6D6D6;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  background: var(--background) !important;
  color: #ffff;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
